__pycache__/
*.py[cod]
.venv/
venv/
log/
output/
data/
.DS_Store
Thumbs.db
.vscode/
# exclude pushed-by-mistake files
N05-20_GML.zip
P11-22_GML.zip
prep_transport_poi.py
modules/
config/
debug_shots/
log/
module_specs_docx/
output/
config/
debug_shots/
log/
module_specs_docx/
output/
tools/
